---
import Layout from "../layouts/Layout.astro"
import Badge from "../components/Badge.astro"
import SocialPill from "../components/SocialPill.astro";
import { Icon } from "astro-icon/components"
---

<Layout title="Portfolio Astro">
  <main>
    <section class="flex flex-col mx-auto w-full lg:w-[800px] py-44 gap-6">
      <header class="flex">
        <article class="flex flex-col w-3/4">
          <h1 class="flex pb-8 pt-4 font-bold text-5xl">
            Hola soy Marcos Sosa 
          </h1>
          <h2 class="text-xl opacity-90">No tengo experiencia laburando. Desarrollador Web Mayormente Frontend. De Tierra del Fuego, Argentina 🇦🇷. Me especializo en ReactJS y hacer aplicaciones bien piola</h2>
        </article>
        <aside class="flex flex-col items-center justify-center w-1/4">
          <img
            class="rounded-full w-full"
            src="https://i.pinimg.com/736x/de/b7/f4/deb7f42c7c276a16dd760ee93acca4ef.jpg"
            alt="imagenxd"
          />
        </aside>
      </header>
      <footer class="flex gap-4">
        <SocialPill url="https:/github.com" icon="github" text="GitHub" />
        <SocialPill url="https:/linkedin.com" icon="linkedin" text="LinkedIn" />
        <SocialPill url="https:/mail.google.com" icon="mail" text="marcossosa21415@gmail.com" />
      </footer>
    </section>
  </main>
</Layout>

