<header class="flex justify-between items-center w-full py-4 px-[10rem] text-white">
  <img
    class="rounded-full size-20"
    src="https://i.pinimg.com/736x/de/b7/f4/deb7f42c7c276a16dd760ee93acca4ef.jpg"
    alt="imagenxd"
  />
  <nav class="flex gap-8">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
